{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">
    <div class="login-logo">
        <a target="_blank" href="{{ url('home_page') }}"><b>{{ school_name }}</b></a>
    </div>
    <div class="login-box-body">
        <h4 class="login-box-msg">Change Password</h4>

		{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

            <div class="form-group has-feedback">
				{{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control', 'placeholder':'form.password'|trans }}) }}
                <span class="fa fa-lock form-control-feedback"></span>
				{{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="form-group has-feedback">
				{{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control','placeholder':'form.re_enter_password'|trans }}) }}
                <span class="fa fa-lock form-control-feedback"></span>
				{{ form_errors(form.plainPassword.second) }}
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-block btn-flat" >{{ 'resetting.reset.submit'|trans }}</button>
                </div>
            </div>

		{{ form_end(form) }}

    </div>
</div>
